<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Welcome to AWS Capstone App</h1>
<a href="/login">Login</a>
<a href="/register">Register</a>
</body>
